body{
    overflow-x: scroll;background-color:black;   
}

.fork{
    position: fixed;
    top: 0;
    right: 0;
}

.pagination{
    text-align: center; color:#1398e6;
}
p{
    color:azure
}
h3{
    color:#abf3ff
} 
h2{ 
    color:#abf3ff
}
h1{
    color:#abf3ff
}
h5{
    color:#abf3ff
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background: #051113;
    text-align: center;
    color: #a104c6;
    z-index: 888
}


.blog-post h3{
    font-size: 10px;
    opacity: 0.2;
}

.social-media ul{
    list-style: none;
}

.social-media li{
    display: inline-block;
    font-size: 20px;
}

.content {
    position: relative;
    left: 200px;
    width: calc(100% - 200px);
    background-color: black;
  
}

a{
    color: #57912a;
    text-decoration: none;

    &:hover{
        color: $brand-color;
        text-decoration: underline;
    }
}

footer{
    text-transform: uppercase;
    bottom: 0;
    position: static;
    text-align: center;
}
