.highlight {
    padding: 20px;
    background: $glass-color;
     color:#9bace7

    .highlighter-rouge & {
      background: #1d1d27;
    }

  
.highlight .c {
    color: #D67E70;
    font-style: italic
}

.highlight .err {
    color: #a61717;
    background-color: #EA88B3
}

.highlight .k {
    font-weight: bold;
    color: #F1B37B
}

.highlight .o {
    font-weight: bold
}

.highlight .cm {
    color: #998;
    font-style: italic
}

.highlight .cp {
    color: #999;
    font-weight: bold
} 

.highlight .c1 {
    color: #998;
    font-style: italic
}

.highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic
}

.highlight .gd {
    color: #474141;
    background-color: #fdd
}

.highlight .gd .x {
    color: #383636;
    background-color: #faa
}

.highlight .ge {
    font-style: italic
}

.highlight .gr {
    color: #a00
}

.highlight .gh {
    color: #999
}

.highlight .gi {
    color: #332d2d;
    background-color: #dfd
}

.highlight .gi .x {
    color: #554f4f;
    background-color: #afa
}

.highlight .go {
    color: #888
}

.highlight .gp {
    color: #555
}

.highlight .gs {
    font-weight: bold
}

.highlight .gu {
    color: #aaa
}

.highlight .gt {
    color: #a00
}

.highlight .kc {
    font-weight: bold;
    color: #9F20F6
}

.highlight .kd {
    font-weight: bold;
    color: #0630ED
}

.highlight .kp {
    font-weight: bold
}

.highlight .kr {
    font-weight: bold;
    color: #77EC62
}

.highlight .kt {
    color: #D57234;
    font-weight: bold
}

.highlight .m {
    color: #7BE920
}

.highlight .s {
    color: #D23C31
}

.highlight .na {
    color: teal
}

.highlight .nb {
    color: #0086B3
}

.highlight .nc {
    color: #20F887;
    font-weight: bold
}

.highlight .no {
    color: teal
}

.highlight .ni {
    color: purple
}

.highlight .ne {
    color: #900;
    font-weight: bold
}

.highlight .nf {
    color: #0AC4D4;
    font-weight: bold
}

.highlight .nn {
    color: #4D39E2
}

.highlight .nt {
    color: navy
}

.highlight .nv {
    color: #F72E4E
}

.highlight .ow {
    font-weight: bold
}

.highlight .w {
    color: #bbb
}

.highlight .mf {
    color: #A1DD6D
}

.highlight .mh {
    color: #3194D8
}

.highlight .mi {
    color: #5FC664
}

.highlight .mo {
    color: #099
}

.highlight .sb {
    color: #d14
}

.highlight .sc {
    color: #d14
}

.highlight .sd {
    color: #d14
}

.highlight .s2 {
    color: #d14
}

.highlight .se {
    color: #d14
}

.highlight .sh {
    color: #d14
}

.highlight .si {
    color: #d14
}

.highlight .sx {
    color: #d14
}

.highlight .sr {
    color: #009926
}

.highlight .s1 {
    color: #d14
}

.highlight .ss {
    color: #990073
}

.highlight .bp {
    color: #999
}

.highlight .vc {
    color: #CD4E06
}

.highlight .vg {
    color: teal
}

.highlight .vi {
    color: teal
}

.highlight .il {
    color: #099
}
}
